body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  color: #0a122e;
}

form {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #489dda;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #1b65b2;
}