.logo {
  display: inline-block;
  width: fit-content;
}

.logo-link {
  align-items: center;
  display: flex;
}

.logo-icon {
  background-image: url('logo-blue.png');
  background-size: cover;
  height: 32px;
  transition: background-image 0.3s ease-in-out;
  width: 32px;
}

.logo-icon:hover {
  background-image: url('logo-dark.png');
}

.wordmark {
  font-size: 0px;
  padding-left: 4px;
  vertical-align: middle;
}

.wordmark span{
  color: #0a122e;
  display: inline-block;
  font-size: 22px;
  font-stretch: normal;
  font-style: normal;
  /* letter-spacing: -0.4px; */
  /* padding-top: 2px; */
}

.wordmark-left {
  font-weight: 600;
}

.wordmark-right {
  font-weight: 600;
  padding-left: 2px;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  color: #0a122e;
}

h1 {
  color: #0a122e;
}

form {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #489dda;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #1b65b2;
}