<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Rating Application</title>
    <link rel="stylesheet" href="{{ url_for('static/css', filename='styles.css') }}">
</head>
<body>    
    <div class="logo">
        <a href="{{ url_for('index') }}" class="logo-link">
        <div class="logo-image">
        </div>
        <div class="logo-text">
            <span class="logo-text-left">CV</span>
            <span class="logo-text-right">Badger</span>
        </div>
        </a>
    </div>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf">
        <button type="submit">Upload CV</button>
    </form>
    {% if feedback %}
    <h2>Feedback:</h2>
    <p>{{ feedback }}</p>
    <a href="{{ url_for('index') }}">
        <button type="button">Reset page</button>
    </a>
    {% endif %}
</body>
</html>