<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Rating Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>    
    <div class="logo">
        <a href="{{ url_for('index') }}" class="logo-link">
        <div class="logo-icon">
        </div>
        <div class="wordmark">
            <span class="wordmark-left">CV</span>
            <span class="wordmark-right">Badger</span>
        </div>
        </a>
    </div>
    {% if feedback %}
    <div>
        <h2>Feedback:</h2>
        <p>{{ feedback }}</p>
        <a href="{{ url_for('index') }}">
            <button type="button">Reset page</button>
        </a>
    </div>
    {% else %}
    <div>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept=".pdf">
            <button type="submit">Upload CV</button>
        </form>
    </div>
    {% endif %}
</body>
</html>